################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/jk.BookStore/.vs/jk.BookStore
/jk.BookStore/jk.BookStore/bin/Debug/net5.0
/jk.BookStore/jk.BookStore/obj
/jk.BookStore/jk.BookStore/wwwroot/lib
/jk.BookStore/jk.BookStore/wwwroot/css
/jk.BookStore/jk.BookStore/wwwroot/images
